

body

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:auto;
	width:400px;
	height: auto;
	left:45%;
	margin-top:-10%;
	background: white;
}

#modal_trigger {margin:auto auto; width:100px; display:block;}

.btn {padding:10px 20px; background: #F4F4F2;}
.btn_red {background: #ED6347; color: #FFF;}
.btn_lblue {background:rgb(20, 115, 126);color:white;}
.btn_lblue2 {background:rgb(20, 115, 126);}
.btn_lblue2:hover {background:blue;color:black;}
.btn_lblue1 {background:rgb(20, 115, 126);color:white;width:350px;padding-top:10px;border-radius:10px}
.btn:hover {background: rgb(227, 230, 190);}
.btn_lblue:hover {background:rgb(227, 230, 190);color:black}
.btn_red:hover {background: #C12B05;}
a.btn {color:white; text-align: center; text-decoration: none;border-radius: 25px;}
a.btn_red {color: #FFF;}

.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%;}

/* Popup Styles*/
.popupHeader {font-size:16px; text-transform: uppercase;}
.popupHeader {background:rgb(227, 230, 190); position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold;}
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:10px 15px; background:#E4E4E2; cursor: pointer; color:#aaa; font-size:16px;}

.popupBody {padding:25px;}


/* Social Login Form */
.social_login {}
.social_login .social_box {display:block; clear:both; padding:10px; margin-bottom: 10px; background: #F4F4F2; overflow: hidden;}
.social_login .icon {display:block; width:10px; padding:5px 10px; margin-right: 10px; float:left; color:#FFF; font-size:16px; text-align: center;} 
.social_login .fb .icon {background:#3B5998;}
.social_login .google .icon {background:#DD4B39;}
.social_login .icon_title {display:block; padding:5px 0; float:left; font-weight: bold; font-size: 16px; color:#777;}
.social_login .social_box:hover {background: #E4E4E2;}

.centeredText {text-align: center; margin: 20px 0; clear: both; overflow: hidden; }

.action_btns {clear:both; overflow: hidden;}
.action_btns a {display:block;}

/* User Login Form */
.user_login {display: none;}
.forgot_for {display: none;}
.user_login label {display: block; margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_login input[type="checkbox"] {float:left; margin-right:5px;}
.user_login input[type="checkbox"]+label {float:left;}

.user_login .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
.forgot_password {display:block; margin: 20px 0 10px; clear: both; overflow: hidden; text-decoration: none; color:#ED6347;}

/* User Register Form */
.user_register {display: none;}
.user_register label {display: block; margin-bottom:5px;}
#idtext
{
display: block; width:50%; padding:10px; border:1px solid #DDD; color:#666;
}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_register input[type="checkbox"] {float:left; margin-right:5px;}
.user_register input[type="checkbox"]+label {float:left;}
.user_register .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}

/*about problems*/
#problem
{
	display:block;
	font-size:20px;
}
#colps
{
	display:block;
	font-size:10px;
}
.regclas
{
display: block; width:10%; padding:10px; border:1px solid #DDD;background-color:rgb(20, 115, 126);
}
 h4
 {
 font-size:18px;
 font-weight: bold;
 }
   select {
    background-color: #F5F5F5;
    border: 1px double #2F4F4F;
    color: #A9A9A9;
    font-family: Georgia;
    font-weight: bold;
    font-size: 15px;
    height: 47px;
    padding: 10px 8px;
    width: 30%;
    margin: 10px 0 20px 0px;
    
}
